<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <title>e-learning</title>
    </head>
    <body>
        <div id="app" class="row">   
            <div class="offset-3 col-6">
            
            
                <!--問題文と選択肢-->
                <div class="card" v-if="status">
            
                    <div class="card-body">
                        <p class="badge badge-dard">第{{number+1}}問</p>
                        <br>
                        <h4 class="card-title">{{currentQuestion.question}}</h4>
                        <hr>
                        <button 
                            type="button" 
                            class="btn btn-primary btn-lg btn-block text-left"
                            v-for="(answer,index) in currentQuestion.answers"
                            @click="selectAnswer(index)"
                        >{{answer}}</button>
                       
                    </div>
                </div>               
                
                
                <!--全問終了後に表示する結果画面-->
                <div v-else class="end">

                    <div class="alert alert-success" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#check-circle-fill"/></svg>
                        <h4 class="alert-heading">FINISH!</h4>
                        <p>{{questions.length}}問中{{correctCount}}問正解です。</p>
                        <hr>
                        <button type="button" class="btn btn-primary" @click="reload()">Restart</button>
                        <a href="select_subject.html" class="btn btn-primary">Go Home</a>
                      </div>

                </div>

                <!--アイコンのダウンロード--> 
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </symbol>
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                  </svg>

        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.2/dist/vuetify.min.js" integrity="sha256-JKMIbIbZD5/wrlXXmlTLXX9pMUFuhwraY8m+FFj0N/o=" crossorigin="anonymous"></script>

        <script>

            var app = new Vue({
                el: '#app',
                data:{
                    questions:[
                    {
                            question:"百里飛行場の4レターコードは？",
                            answers:["RJAH","RJTT","RJTL","RJAA"],
                            answer:1
                        },
                        {
                            question:"木更津飛行場の4レターコードは？",
                            answers:["RJAA","RJGG","RJTL","RJTK"],
                            answer:4
                        },
                        {
                            question:"硫黄島飛行場の4レターコードは？",
                            answers:["RJTJ","RJAH","RJTL","RJAW"],
                            answer:2
                        },
                        {
                            question:"下総飛行場の4レターコードは？",
                            answers:["RJAT","RJTL","RJTK","RJTE"],
                            answer:2
                        },
                        {
                            question:"滝ケ原飛行場の4レターコードは？",
                            answers:["RJAT","RJTL","RJTK","RJTE"],
                            answer:1
                        },
                        {
                            question:"南紀白浜空港の4レターコードは？",
                            answers:["RJBE","RJBD","RJNO","RJDB"],
                            answer:2
                        },
                        {
                            question:"函館空港の4レターコードは？",
                            answers:["RJCC","RJCT","RJCH","RJCJ"],
                            answer:3
                        },
                        {
                            question:"山口宇部空港の4レターコードは？",
                            answers:["RJDO","RJDD","RJDC","RJDT"],
                            answer:2
                        },
                        {
                            question:"熊本空港の4レターコードは？",
                            answers:["RJFT","RJFA","RJFC","RJFK"],
                            answer:3
                        },
                        {
                            question:"新田原飛行場の4レターコードは？",
                            answers:["RJFG","RJFA","RJFN","RJFE"],
                            answer:3
                        },
                        {
                            question:"長崎空港の4レターコードは？",
                            answers:["RJFU","RJFR","RJFN","RJFY"],
                            answer:1
                        },
                        {
                            question:"花巻空港の4レターコードは？",
                            answers:["RJSA","RJSR","RJSK","RJSI"],
                            answer:4
                        },
                        {
                            question:"大館能代空港の4レターコードは？",
                            answers:["RJSO","RJSR","RJSK","RJSM"],
                            answer:2
                        },
                        {
                            question:"山形空港の4レターコードは？",
                            answers:["RJSO","RJSY","RJSC","RJSN"],
                            answer:3
                        },
                        {
                            question:"立川飛行場の4レターコードは？",
                            answers:["RJTC","RJTA","RJTU","RJTZ"],
                            answer:1
                        },
                        {
                            question:"入間飛行場の4レターコードは？",
                            answers:["RJTZ","RJTA","RJTU","RJTJ"],
                            answer:4
                        },
                        {
                            question:"調布飛行場の4レターコードは？",
                            answers:["RJTZ","RJTA","RJTF","RJTU"],
                            answer:3
                        },
                        {
                            question:"三宅島空港の4レターコードは？",
                            answers:["RJTO","RJTQ","RJTH","RJTU"],
                            ansswer:2
                        },
                        {
                            question:"八丈島空港の4レターコードは？",
                            answers:["RJTO","RJTR","RJTH","RJTU"],
                            answer:3
                        },
                        {
                            question:"石垣島空港の4レターコードは？",
                            answers:["ROMD","ROMY","ROIG","ROKJ"],
                            answer:3
                        },
                        {
                            question:"嘉手納飛行場の4レターコードは？",
                            answers:["ROMD","RORA","RODN","RORH"],
                            answer:3
                        },
                        {
                            question:"アンカレッジ空港の4レターコードは？",
                            answers:["KJFK","KLAX","MMMX","PANC"],
                            answer:4
                        },


                    ],
                    number:0,
                    questionLength:22,       
                    status:true,            
                    correctCount:0,         
                    displayAnswer :[], 
                },
                computed:{
                    currentQuestion:function(){
                        return this.questions[this.number];
                    }
                },
                methods:{
                    selectAnswer(index){
                            if(index+1 == this.currentQuestion.answer){
                                this.correctCount++;
                                alert('⭕️正解')
                            } else{
                                preDisplayAnswer = this.currentQuestion.answer;
                                displayAnswer = this.currentQuestion.answers[preDisplayAnswer - 1];
                                alert("❌不正解です。正解は" + displayAnswer);
                            }
                        this.number++;
                        
                        
                        
                        this.questionLength--;
                        if(this.questionLength == 0){
                            this.status = false;
                        }
                        
                    },

                    reload(){
                        window.location.reload();
                    },

                }

            })
        </script>
        <style>
            body{
                padding: 50px;
            }
            .end{
                background-color:skyblue;
                text-align: center;
                color:#fff;
                font-size: 20px;
                padding: 20px 0;
                margin-top: 30px;
            }

        </style>
    </body>
</html>
