<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <title>e-learning</title>
    </head>
    <body>
        <div id="app" class="row">   
            <div class="offset-3 col-6">
            
            
            
                <div class="card" v-if="status">
            
                    <div class="card-body">
                        <p class="badge badge-dard">第{{number+1}}問</p>
                        <br>
                        <h4 class="card-title">{{currentQuestion.question}}</h4>
                        <hr>
                        <button 
                            type="button" 
                            class="btn btn-primary btn-lg btn-block text-left"
                            v-for="(answer,index) in currentQuestion.answers"
                            @click="selectAnswer(index)"
                        >{{answer}}</button>
                       
                    </div>
                </div>               
                
                
                //ここから追加
                <div v-else class="end">
                    全問終了です。
                    <br>
                    {{questions.length}}問中{{correctCount}}問正解です。
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary" @click="reload()">RESUME</button>
                </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.2/dist/vuetify.min.js" integrity="sha256-JKMIbIbZD5/wrlXXmlTLXX9pMUFuhwraY8m+FFj0N/o=" crossorigin="anonymous"></script>

        <script>

            var app = new Vue({
                el: '#app',
                data:{
                    questions:[
                    {
                            question:"羽田空港の4レターコードは？",
                            answers:["RJTE","RJTT","RJTL","RJAA"],
                            answer:2
                        },
                        {
                            question:"成田空港の4レターコードは？",
                            answers:["RJAA","RJGG","RJTL","RJAH"],
                            answer:1
                        },
                        {
                            question:"東京HPの4レターコードは？",
                            answers:["RJTJ","RJTI","RJTL","RJTK"],
                            answer:2
                        },
                        {
                            question:"中部国際空港の4レターコードは？",
                            answers:["RJNS","RJOO","RJNA","RJGG"],
                            answer:4
                        },
                        {
                            question:"名古屋空港の4レターコードは？",
                            answers:["RJNS","RJGG","RJNA","RJSN"],
                            answer:3
                        },
                        {
                            question:"関西空港の4レターコードは？",
                            answers:["RJOY","RJOO","RJBE","RJBB"],
                            answer:4
                        },
                        {
                            question:"八尾空港の4レターコードは？",
                            answers:["RJOY","RJOO","RJBE","RJBB"],
                            answer:1
                        },
                        {
                            question:"福岡空港の4レターコードは？",
                            answers:["RJFO","RJFF","RJSS","RJFU"],
                            answer:2
                        },
                        {
                            question:"仙台空港の4レターコードは？",
                            answers:["RJSM","RJSA","RJSS","RJSI"],
                            answer:3
                        },
                        {
                            question:"丘珠空港の4レターコードは？",
                            answers:["RJOO","RJCH","RJCO","RJCC"],
                            answer:3
                        },
                    ],
                    number:0,
                    questionLength:10,       
                    status:true,            
                    correctCount:0,         
                    displayAnswer :[], 
                },
                computed:{
                    currentQuestion:function(){
                        return this.questions[this.number];
                    }
                },
                methods:{
                    selectAnswer(index){
                            if(index+1 == this.currentQuestion.answer){
                                this.correctCount++;
                                alert('⭕️正解')
                            } else{
                                preDisplayAnswer = this.currentQuestion.answer;
                                displayAnswer = this.currentQuestion.answers[preDisplayAnswer - 1];
                                alert("❌不正解です。正解は" + displayAnswer);
                            }
                        this.number++;
                        
                        
                        
                        this.questionLength--;
                        if(this.questionLength == 0){
                            this.status = false;
                        }
                        
                    },

                    reload(){
                        window.location.reload();
                    },

                }

            })
        </script>
        <style>
            body{
                padding: 50px;
            }
            .end{
                background-color:skyblue;
                text-align: center;
                color:#fff;
                font-size: 20px;
                padding: 20px 0;
            }
        </style>
    </body>
</html>
